In [2]:
import pandas as pd
import gc

In [3]:
pd.__version__

'1.1.4'

In [4]:
gc.get_threshold()

(700, 10, 10)

In [5]:
gc.set_threshold(100,10,10)

In [6]:
filename="./data/Books.json"

In [7]:
#Let's scan the csv to see how dates are ordered
#dx=pd.DataFrame()
chunksize=10**6
for chunk in pd.read_json(filename, lines=True,orient='columns',chunksize=chunksize,nrows=100_000_000):
    dx=pd.DataFrame(chunk)
    dx=dx['overall'] #,'verified','reviewText','unixReviewTime']
    print(dx.head(1))

0    5
Name: overall, dtype: int64
1000000    5
Name: overall, dtype: int64
2000000    2
Name: overall, dtype: int64
3000000    3
Name: overall, dtype: int64
4000000    5
Name: overall, dtype: int64
5000000    5
Name: overall, dtype: int64
6000000    1
Name: overall, dtype: int64
7000000    5
Name: overall, dtype: int64
8000000    4
Name: overall, dtype: int64
9000000    5
Name: overall, dtype: int64
10000000    5
Name: overall, dtype: int64
11000000    5
Name: overall, dtype: int64
12000000    5
Name: overall, dtype: int64
13000000    5
Name: overall, dtype: int64
14000000    5
Name: overall, dtype: int64
15000000    5
Name: overall, dtype: int64
16000000    5
Name: overall, dtype: int64
17000000    5
Name: overall, dtype: int64
18000000    4
Name: overall, dtype: int64
19000000    4
Name: overall, dtype: int64
20000000    2
Name: overall, dtype: int64
21000000    5
Name: overall, dtype: int64
22000000    5
Name: overall, dtype: int64
23000000    3
Name: overall, dtype: int64
24000000    5
Name: overall, dtype: int64
25000000    4
Name: overall, dtype: int64
26000000    5
Name: overall, dtype: int64
27000000    5
Name: overall, dtype: int64
28000000    4
Name: overall, dtype: int64
29000000    5
Name: overall, dtype: int64
30000000    5
Name: overall, dtype: int64
31000000    5
Name: overall, dtype: int64
32000000    5
Name: overall, dtype: int64
33000000    5
Name: overall, dtype: int64
34000000    3
Name: overall, dtype: int64
35000000    5
Name: overall, dtype: int64
36000000    5
Name: overall, dtype: int64
37000000    5
Name: overall, dtype: int64
38000000    3
Name: overall, dtype: int64
39000000    5
Name: overall, dtype: int64
40000000    5
Name: overall, dtype: int64
41000000    2
Name: overall, dtype: int64
42000000    5
Name: overall, dtype: int64
43000000    5
Name: overall, dtype: int64
44000000    5
Name: overall, dtype: int64
45000000    5
Name: overall, dtype: int64
46000000    5
Name: overall, dtype: int64
47000000    3
Name: overall, dtype: int64
48000000    5
Name: overall, dtype: int64
49000000    4
Name: overall, dtype: int64
50000000    5
Name: overall, dtype: int64
51000000    5
Name: overall, dtype: int64

There are over 51 million reviews in this dataset. Let's take a sample distributed throughout the years.

In [8]:
gc.get_count()

(63, 9, 78)

In [9]:
gc.collect()

0

In [10]:
import gc
gc.set_threshold(200,5,5)
j=0
selected_data=pd.DataFrame()
chunksize=1_000_000
for chunk in pd.read_json(filename, lines=True,chunksize=chunksize,nrows=100_000_000):
    selected_data=pd.DataFrame()
    dx=pd.DataFrame()
    print('Processing chunk #',j+1)
    dx=pd.DataFrame(chunk)
    dx_sample=dx.sample(frac=0.25)[['asin','overall','verified','reviewText','unixReviewTime']]
    selected_data=pd.concat([selected_data,dx_sample])
    output_file='./data/Amazon_book_reviews-Sample'+str(j+1)+'.csv'
    selected_data.to_csv(output_file,index=0)
    del dx_sample
    del selected_data
    gc.collect()
    j+=1
    if j>51:
        break

Processing chunk # 1
Processing chunk # 2
Processing chunk # 3
Processing chunk # 4
Processing chunk # 5
Processing chunk # 6
Processing chunk # 7
Processing chunk # 8
Processing chunk # 9
Processing chunk # 10
Processing chunk # 11
Processing chunk # 12
Processing chunk # 13
Processing chunk # 14
Processing chunk # 15
Processing chunk # 16
Processing chunk # 17
Processing chunk # 18
Processing chunk # 19
Processing chunk # 20
Processing chunk # 21
Processing chunk # 22
Processing chunk # 23
Processing chunk # 24
Processing chunk # 25
Processing chunk # 26
Processing chunk # 27
Processing chunk # 28
Processing chunk # 29
Processing chunk # 30
Processing chunk # 31
Processing chunk # 32
Processing chunk # 33
Processing chunk # 34
Processing chunk # 35
Processing chunk # 36
Processing chunk # 37
Processing chunk # 38
Processing chunk # 39
Processing chunk # 40
Processing chunk # 41
Processing chunk # 42
Processing chunk # 43
Processing chunk # 44
Processing chunk # 45
Processing chunk # 46
Processing chunk # 47
Processing chunk # 48
Processing chunk # 49
Processing chunk # 50
Processing chunk # 51
Processing chunk # 52

In [11]:
data_files=[('./data/Amazon_book_reviews-Sample'+str(i+1)+'.csv') for i in range(52)]

Let's check the first 2 lines of each file to see if they are ordered in any way.

In [12]:
df_heads=pd.DataFrame()
for file in data_files:
    file_heads=pd.read_csv(file).head(2)
    file_heads['file name']=file
    df_heads=pd.concat([df_heads,file_heads])
df_heads

,asin,overall,verified,reviewText,unixReviewTime,file name
0,0007420412,5,True,I loved this book and can't wait to read book ...,1416355200,./data/Amazon_book_reviews-Sample1.csv
1,0007444117,1,False,I was a huge fan when the Divergent series sta...,1472860800,./data/Amazon_book_reviews-Sample1.csv
0,006195070X,5,True,story keeps you entertained throughout the who...,1394496000,./data/Amazon_book_reviews-Sample2.csv
1,006058405X,4,True,I waited for months for this book to be releas...,1324080000,./data/Amazon_book_reviews-Sample2.csv
0,0071364102,5,True,Really enjoyed the insight here. She covers v...,1394582400,./data/Amazon_book_reviews-Sample3.csv
...,...,...,...,...,...,...
1,1502995948,5,True,Very fun book about 3 dogs and their owners tr...,1418688000,./data/Amazon_book_reviews-Sample50.csv
0,B007YXUQ3C,5,True,Thanks for the quick delivery and your item wa...,1506556800,./data/Amazon_book_reviews-Sample51.csv
1,B007EDDTBI,5,True,"Another in the Serge Series from David Shone, ...",1459209600,./data/Amazon_book_reviews-Sample51.csv
0,B015RPT73S,5,True,When I received notice a second edition of Wri...,1455148800,./data/Amazon_book_reviews-Sample52.csv
1,0076644472,4,True,Book is good and concepts well explained. Howe...,1509667200,./data/Amazon_book_reviews-Sample52.csv

In [13]:
df_heads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 1
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   asin            104 non-null    object
 1   overall         104 non-null    int64
 2   verified        104 non-null    bool
 3   reviewText      104 non-null    object
 4   unixReviewTime  104 non-null    int64
 5   file name       104 non-null    object
dtypes: bool(1), int64(2), object(3)
memory usage: 5.0+ KB

In [14]:
df_heads['unixReviewTime']=(pd.to_datetime(df_heads['unixReviewTime'],unit='s'))
df_heads.rename(columns={'unixReviewTime':'reviewTime'},inplace=True)

In [15]:
df_heads

,asin,overall,verified,reviewText,reviewTime,file name
0,0007420412,5,True,I loved this book and can't wait to read book ...,2014-11-19,./data/Amazon_book_reviews-Sample1.csv
1,0007444117,1,False,I was a huge fan when the Divergent series sta...,2016-09-03,./data/Amazon_book_reviews-Sample1.csv
0,006195070X,5,True,story keeps you entertained throughout the who...,2014-03-11,./data/Amazon_book_reviews-Sample2.csv
1,006058405X,4,True,I waited for months for this book to be releas...,2011-12-17,./data/Amazon_book_reviews-Sample2.csv
0,0071364102,5,True,Really enjoyed the insight here. She covers v...,2014-03-12,./data/Amazon_book_reviews-Sample3.csv
...,...,...,...,...,...,...
1,1502995948,5,True,Very fun book about 3 dogs and their owners tr...,2014-12-16,./data/Amazon_book_reviews-Sample50.csv
0,B007YXUQ3C,5,True,Thanks for the quick delivery and your item wa...,2017-09-28,./data/Amazon_book_reviews-Sample51.csv
1,B007EDDTBI,5,True,"Another in the Serge Series from David Shone, ...",2016-03-29,./data/Amazon_book_reviews-Sample51.csv
0,B015RPT73S,5,True,When I received notice a second edition of Wri...,2016-02-11,./data/Amazon_book_reviews-Sample52.csv
1,0076644472,4,True,Book is good and concepts well explained. Howe...,2017-11-03,./data/Amazon_book_reviews-Sample52.csv

Data is not ordered by date. Let's select all reviews after 2015-07-01 from all 52 data files where reviews.

In [16]:
import gc
gc.set_threshold(150,5,5)
file_df=pd.DataFrame()
for file in data_files:
    print('processing file:',file)
    df=pd.read_csv(file)
    df['unixReviewTime']=(pd.to_datetime(df['unixReviewTime'],unit='s'))
    df.rename(columns={'unixReviewTime':'reviewTime'},inplace=True)
    df=df[df['reviewTime']>'2015-07-01'].copy(deep=True)
    file_df=pd.concat([file_df,df])
    del df
    gc.collect()

file_df
gc.collect()

processing file: ./data/Amazon_book_reviews-Sample1.csv
processing file: ./data/Amazon_book_reviews-Sample2.csv
processing file: ./data/Amazon_book_reviews-Sample3.csv
processing file: ./data/Amazon_book_reviews-Sample4.csv
processing file: ./data/Amazon_book_reviews-Sample5.csv
processing file: ./data/Amazon_book_reviews-Sample6.csv
processing file: ./data/Amazon_book_reviews-Sample7.csv
processing file: ./data/Amazon_book_reviews-Sample8.csv
processing file: ./data/Amazon_book_reviews-Sample9.csv
processing file: ./data/Amazon_book_reviews-Sample10.csv
processing file: ./data/Amazon_book_reviews-Sample11.csv
processing file: ./data/Amazon_book_reviews-Sample12.csv
processing file: ./data/Amazon_book_reviews-Sample13.csv
processing file: ./data/Amazon_book_reviews-Sample14.csv
processing file: ./data/Amazon_book_reviews-Sample15.csv
processing file: ./data/Amazon_book_reviews-Sample16.csv
processing file: ./data/Amazon_book_reviews-Sample17.csv
processing file: ./data/Amazon_book_reviews-Sample18.csv
processing file: ./data/Amazon_book_reviews-Sample19.csv
processing file: ./data/Amazon_book_reviews-Sample20.csv
processing file: ./data/Amazon_book_reviews-Sample21.csv
processing file: ./data/Amazon_book_reviews-Sample22.csv
processing file: ./data/Amazon_book_reviews-Sample23.csv
processing file: ./data/Amazon_book_reviews-Sample24.csv
processing file: ./data/Amazon_book_reviews-Sample25.csv
processing file: ./data/Amazon_book_reviews-Sample26.csv
processing file: ./data/Amazon_book_reviews-Sample27.csv
processing file: ./data/Amazon_book_reviews-Sample28.csv
processing file: ./data/Amazon_book_reviews-Sample29.csv
processing file: ./data/Amazon_book_reviews-Sample30.csv
processing file: ./data/Amazon_book_reviews-Sample31.csv
processing file: ./data/Amazon_book_reviews-Sample32.csv
processing file: ./data/Amazon_book_reviews-Sample33.csv
processing file: ./data/Amazon_book_reviews-Sample34.csv
processing file: ./data/Amazon_book_reviews-Sample35.csv
processing file: ./data/Amazon_book_reviews-Sample36.csv
processing file: ./data/Amazon_book_reviews-Sample37.csv
processing file: ./data/Amazon_book_reviews-Sample38.csv
processing file: ./data/Amazon_book_reviews-Sample39.csv
processing file: ./data/Amazon_book_reviews-Sample40.csv
processing file: ./data/Amazon_book_reviews-Sample41.csv
processing file: ./data/Amazon_book_reviews-Sample42.csv
processing file: ./data/Amazon_book_reviews-Sample43.csv
processing file: ./data/Amazon_book_reviews-Sample44.csv
processing file: ./data/Amazon_book_reviews-Sample45.csv
processing file: ./data/Amazon_book_reviews-Sample46.csv
processing file: ./data/Amazon_book_reviews-Sample47.csv
processing file: ./data/Amazon_book_reviews-Sample48.csv
processing file: ./data/Amazon_book_reviews-Sample49.csv
processing file: ./data/Amazon_book_reviews-Sample50.csv
processing file: ./data/Amazon_book_reviews-Sample51.csv
processing file: ./data/Amazon_book_reviews-Sample52.csv

0

In [19]:
file_df.head(3)

,asin,overall,verified,reviewText,reviewTime
1,0007444117,1,False,I was a huge fan when the Divergent series sta...,2016-09-03
5,0007177437,4,True,Excellent read.,2015-09-16
6,0007327064,5,True,From the very beginning.. I have loved Odd Tho...,2016-07-17

In [20]:
#Let's save this dataframe as a csv file
file_df.to_csv('./data/pre_processed_data.csv',index=0)
gc.collect()

0

In [22]:
del file_df
gc.collect()

NameError: name 'file_df' is not defined